body {
    margin:0;
    padding:0;
    border:0;
}
.logo {
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    height:150px;
    width: 100%;
    background-color: black;
    
}

.logowrapper{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    height:150px;
    width: 100%;
    background-color: black;
    z-index: 1;

}

.navDefault {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    background-color: #000000;
}

button {
    border: none;
    background-color: #000000;
    width: 150px;
    height: 50px;
    color: #B6B6B6;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.75em;
    
}

.dropdownMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 150px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
    z-index: -1;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color:   #B6B6B6;
    padding: 10px 5px;
    color: #000000;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 1.5em;
}

.dropdownLink:hover {
    color: #B6B6B6;
    background-color: black;
    text-decoration: underline;
    

}

.dropdown {
    width: 150px;
    position: relative;
    margin: 0 auto;
}

.dropdown:hover button {
    background-color: #000000;
    text-decoration: underline;

}

.dropdown:hover .dropdownMenu{
    transform: translateY(0%); 
}


.section {
    height: 700px;
    background-color: #B6B6B6;
    margin: 200px 0;
    text-align: center;

}

.paragraph1 {
    width: 100%;
    height: 100px;
    padding-top: 175px; 
    
}

.paragraph {
    width: 100%;
    height: 100px;
    padding-top: 50px; 
    
}

.h2 {
    color: #000000;
}