body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.logo {
    position: relative;
    top: 0;
    margin: 0;
    padding-left: 10px;
    right: 0;
    height:150px;
    width: 100%;
    background-color: black;
    
}

.logowrapper{
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
    height:150px;
    width: 100%;
    background-color: black;
    z-index: 1;
    text-align: center;
    
}

.navDefault {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    background-color: #000000;
    text-align: center;
}

button {
    border: none;
    background-color: #000000;
    width: 150px;
    height: 50px;
    color: #B6B6B6;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.75em;
    text-align: center;
    
    
}

.dropdownMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: 150px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
    z-index: -1;
}

.dropdownLink {
    text-decoration: none;
    display: block;
    background-color:   #B6B6B6;
    padding: 10px 5px;
    color: #000000;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 1.5em;
}

.dropdownLink:hover {
    color: #B6B6B6;
    background-color: black;
    text-decoration: underline;
    

}

.dropdown {
    width: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.dropdown:hover button {
    background-color: #000000;
    text-decoration: underline;

}

.dropdown:hover .dropdownMenu{
    transform: translateY(0%); 
}


.section {
    background-color: #B6B6B6;
    margin: 0;
    border: 0;
    text-align: center;
    padding-top: 200px;
    height: 400px;
  }

.paragraph1 {
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    background-color: red;
    border: 1px solid black;
    margin-bottom: 7px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    
}

.paragraph {
    width: 100%;
    height: auto;
    text-align: center;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    background-color: red;
    border: 1px solid black;
    margin-bottom: 7px;
   
}

.paragraph:hover{
    background-color: black;
    color: #B6B6B6;

}

.paragraph1:hover{
    background-color: black;
    color: #B6B6B6;

}

.h3 {
    color: #000000;
}

.homepicswrapper {
    padding-top: 2.5%;
    height:100px;
    
}

.homepics img {
    height: auto;
    float: left;
    width: 30%;
    padding-left: 2.5%;
}

.paragraph a{
    text-decoration: none;
    color: inherit;
}

.footer {
    height: 75px;
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
   
}

.footer a{
    text-decoration: none;
    color: #B6B6B6;
}

.footer a:hover{
    color: #B6B6B6;
    text-decoration: underline;
    cursor: pointer;

}
